@{
    ViewData["Title"] = "Project Add Page";
}
@model Project

<form asp-action="AddProject" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="Title">Titel</label>
        <input type="text" class="form-control" id="Title" name="Title" value="@Model.Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Description">Beskrivning</label>
        <textarea class="form-control" id="Description" name="Description">@Model.Description</textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Participants">Välj deltagare</label>

        @if (ViewBag.Users != null && ViewBag.Users.Any())
        {
            <select asp-for="ParticipantIds" asp-items="@ViewBag.Users" class="form-control" multiple="multiple"></select>
        }
        else
        {
            <p>Inga användare tillgängliga</p>
        }
    </div>


    <button type="submit" class="btn" style="background-color: rgb(255, 167, 38); border-color: rgb(255, 167, 38); color: white;">Skapa projekt</button>
</form>

<style>
    .form-control {
        border-color: black;
    }

    .form-control:focus {
        border-color: rgb(255, 167, 38);
        box-shadow: 0 0 5px rgba(255, 167, 38, 0.5);
        outline: none;
    }

    select.form-control option:checked {
        background-color: rgba(255, 167, 38, 0.3);
        color: black;
    }

    select.form-control option:focus {
        background-color: rgba(255, 167, 38, 0.5);
    }
</style>
