@{
    ViewData["Title"] = "Project Edit Page";
}
@model EditProjectViewModel

<h2>Redigera Projekt</h2>

<form asp-action="EditProject" method="post">
    <input type="hidden" asp-for="ProjectId" />

    <div class="form-group">
        <label for="Title">Titel</label>
        <input type="text" class="form-control" asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Description">Beskrivning</label>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Spara ändringar</button>
</form>
