@model MessageViewModel
@{
	ViewData["Title"] = "Your messages";
}

<h1>Dina meddelanden</h1>
<div class="mb-4">
	<a asp-action="SendMessage" class="btn btn-primary">Skicka ett nytt meddelande</a>
</div>
@foreach (var message in Model.Messages)
{
	<div class="card mb-3">
		<div class="card-header">
			<h2 class="mb-0">Från: @message.Sender</h2>
		</div>
		<div class="card-header">
			<p class="mb-1">Mottaget: @message.Date</p>
		</div>
		<div class="card-body">
			<p>@message.Content</p>
		</div>
	</div>
}
