<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CV_Applikation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CV_Applikation.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
   
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="position: sticky; top: 0;  background-color: rgb(102, 221, 235); z-index: 1000; padding-top: 1.5rem; padding-bottom: 1.5rem; padding-left: 2rem;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-weight: bolder; font-family: 'Playfair Display', serif; font-size: 2rem;">CV-centralen</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="margin-left: 2rem;">
                    <ul class="navbar-nav flex-grow-1" style=" display: flex; justify-content: center; gap: 2rem;">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" style="font-size: 1rem; font-weight: 600;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Profile" style="font-size: 1rem; font-weight: 600;">Din profil</a>
                        </li>
                        <li class="nav-item">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Message" style="font-size: 1rem; font-weight: 600;">Meddelanden
                                    @await Component.InvokeAsync("UnreadMessages")
                                </a>

                            }
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Message" asp-action="SendMessage" style="font-size: 1rem; font-weight: 600;">Skicka Meddelanden</a>
                            }
                             
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="ProjectList" style="font-size: 1rem; font-weight: 600;">Projekt</a>
                        </li>
                        <li class="nav-item">
                            <div class="loginknapp" style="display: inline-block;">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <form asp-controller="Account" asp-action="Logout" method="post">
                                    <button type="submit" class="btn btn-danger" style="padding: 0.5rem 1rem; border-radius: 4px; border: none;">Logout</button>
                                </form>
                            }
                            else
                            {
                                    <a asp-controller="Account" asp-action="LogIn" class="btn btn-primary" style="padding: 0.5rem 1rem; border-radius: 4px; background-color: rgb(255, 167, 38); color: white; border: none;">Logga in</a>
                            }
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="search" style="display: flex; justify-content: flex-end; gap: 0.5rem; align-items: center; margin-left: 1rem;">
                                <form asp-controller="Account" asp-action="Search" method="get" class="form-inline mb-4" style="display: flex; gap: 0.5rem;">
                                    <input type="text" name="username" class="form-control" placeholder="Sök användare..." required style="padding: 0.5rem; border-radius: 4px; border: none;"/>
                                    <button type="submit" class="btn btn-primary" style="background-color: rgb(255, 167, 38); border: none; padding: 0.5rem 1rem;">Sök</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CV_Applikation
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
