<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CV_Applikation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CV_Applikation.styles.css" asp-append-version="true" />
    <style>
        
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CV-centralen</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Profile">Din profil</a>
                        </li>
                        <li class="nav-item">
                            @if(User.Identity.IsAuthenticated){
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Message">Meddelanden
                                @await Component.InvokeAsync("UnreadMessages")
                            </a>
                            }
                            @if(!User.Identity.IsAuthenticated) {
                                 <a class="nav-link text-dark" asp-area="" asp-controller="Message" asp-action="SendMessage">Skicka Meddelanden</a>
                            }
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="ProjectList">Projekt</a>
                        </li>
                        <li class="nav-item">
                            <p class="loginknapp">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <form asp-controller="Account" asp-action="Logout" method="post">
                                    <button type="submit" class="btn btn-danger">Logout</button>
                                </form>
                            }
                            else
                            {
                                <a asp-controller="Account" asp-action="LogIn" class="btn btn-primary">Logga in</a>
                            }
                            </p>
                        </li>
                        <li class="nav-item">
                            <p class="search">
                                <form asp-controller="Account" asp-action="Search" method="get" class="form-inline mb-4">
                                    <input type="text" name="username" class="form-control mr-2" placeholder="Sök användare..." required />
                                    <button type="submit" class="btn btn-primary">Sök</button>
                                </form>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CV_Applikation
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
