@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2> Mr Pizza</h2>
   <h2>Mojo jojo gets beaten up by the powerpuff girls</h2>
   <h3>this website is very trustworthy</h3>
    <img width="400" height="400" src="https://static1.srcdn.com/wordpress/wp-content/uploads/2018/03/10.-Destroying-Mojo.jpg" />
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
